@import './components/background.css';
@import './components/fonts.css';
@import './components/slide-in-animation.css';
@import './components//button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@keyframes rotateCircle {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.circle-spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 240px;
	height: 230px;
	border-radius: 50%;
	border-top: 0.1rem solid transparent;
	border-bottom: 0.1rem solid transparent;
	border-left: 0.1rem solid rgb(245 158 11);
	border-right: 0.1rem solid rgb(245 158 11);
	animation: rotateCircle 8s linear infinite;
}
